go 1.23rc2

use (
	.
	./example/rep/WorkSpace
	./example/rep/demo/BuyTomatoes
	./example/rep/demo/CodeView
	./example/rep/demo/DecodeRaw
	./example/rep/demo/Field
	./example/rep/demo/Markdown
	./example/rep/demo/Markdown/md2
	./example/rep/demo/StructView
	./example/rep/demo/button
	./example/rep/demo/codeEditor
	./example/rep/demo/colorView
	./example/rep/demo/env
	./example/rep/demo/explorer
	./example/rep/demo/fauxgl-master
	./example/rep/demo/godoc
	./example/rep/demo/hsplit
	./example/rep/demo/jsontree
	./example/rep/demo/list
	./example/rep/demo/radio
	./example/rep/demo/selector
	./example/rep/demo/struct2table
	./example/rep/demo/tabledemo
	./example/rep/demo/tag
	./example/rep/demo/taskmanager
	./example/rep/demo/toolbar
	./example/rep/demo/vsplit
	./example/rep/demo/vstart
	./example/rep/ghRep
	./example/rep/ghRep/BuyTomatoes
	./example/rep/ghRep/CodeView
	./example/rep/ghRep/DecodeRaw
	./example/rep/ghRep/Field
	./example/rep/ghRep/Markdown
	./example/rep/ghRep/StructView
	./example/rep/ghRep/button
	./example/rep/ghRep/codeEditor
	./example/rep/ghRep/colorView
	./example/rep/ghRep/env
	./example/rep/ghRep/explorer
	./example/rep/ghRep/godoc
	./example/rep/ghRep/hsplit
	./example/rep/ghRep/jsontree
	./example/rep/ghRep/list
	./example/rep/ghRep/md2
	./example/rep/ghRep/radio
	./example/rep/ghRep/selector
	./example/rep/ghRep/struct2table
	./example/rep/ghRep/tabledemo
	./example/rep/ghRep/tag
	./example/rep/ghRep/taskmanager
	./example/rep/ghRep/toolbar
	./example/rep/ghRep/vsplit
	./example/rep/ghRep/vstart
	./internal/toolbox-1.99.0
)
